body{
 background-color: skyblue;
}
.main{
    border:1px solid black;
    background-color: rgb(160, 160, 239);
    height:325px;
    width:300px;
    margin-top:200px;
    margin-left:200px;
}
button{
    background-color:orange;
    justify-content:space-around;
}